body {
	font-family:Arial,sans-serif
}

header {
	width:450px;
	padding:30px;
	margin:40px auto;
}

p.label {
	padding-top:1cm;
}

footer {
	width:35em;
	margin:1cm auto;
}

footer p {
	font-size:80%
}



form {
	width:450px;
	padding:30px;
	margin:40px auto;
	background: #FFF;
	border-radius: 10px;
	-webkit-border-radius:10px;
	-moz-border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}

form section {
	margin-top:25px;
}

form .inner-wrap {
	padding: 30px;
	border-radius: 6px;
	margin-bottom: 15px;
}

form label{
	font: 13px Arial, Helvetica, sans-serif;
	margin-bottom: 15px;
}

form input[type="text"],
form input[type="date"],
form input[type="datetime"],
form input[type="email"],
form input[type="number"],
form input[type="search"],
form input[type="time"],
form input[type="url"],
form input[type="password"],
form textarea,
form select {
	display: block;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 8px;
	border-radius: 6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border: 2px solid #fff;
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
	-moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
}

form h1 {
	font: 20px Arial, Helvetica, sans-serif;
	margin-bottom: 5px;
}

form h1 > span {
	padding: 5px 10px 5px 10px;
}
form h1 > span::after {
	content: '.';
}


form input[type="button"], 
form input[type="submit"] {
	padding: 8px 20px 8px 20px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
	font: normal 30px 'Bitter', serif;
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	border: 1px solid #257C9E;
	font-size: 15px;
}

form input[type="button"]:hover, 
form input[type="submit"]:hover {
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
}

fieldset {
	border:none;
	padding:0px;
	margin:0px;
}

fieldset ul {
	list-style:none
	padding:0px;
	padding-left:0px;
	margin:0px;
}

fieldset li {
	display:inline-block;
	width:12em;
	padding:0px;
	margin:0px;
}


.range5 {
  -webkit-columns: 5;
  -moz-columns: 5;
  columns: 5;
}

.range6 {
  -webkit-columns: 6;
  -moz-columns: 6;
  columns: 6;
}

.range10 {
  -webkit-columns: 10;
  -moz-columns: 10;
  columns: 10;
}


.range11 {
  -webkit-columns: 11;
  -moz-columns: 11;
  columns: 11;
}

table {
  border-collapse:collapse;
  border:1px solid darkgray;
  background:white;
}

th {
	color: white;
	background: gray;
}

td, th {
	border:1px solid darkgray;
}
